<h1 class="contract-list-text">Contract list</h1>

<mat-table matSort *ngIf="contracts" [dataSource]="contracts" class="mat-elevation-z8 contract-table">
  <ng-container matColumnDef="favourite">
    <mat-header-cell *matHeaderCellDef (click)="applyFilter($event)">
      <i *ngIf="contracts.filter === ''" class="far fa-star"></i>
      <i *ngIf="contracts.filter === 'true'" class="fas fa-star"></i>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <i *ngIf="!element.isFavourite" class="far fa-star" (click)="addFavourite(element)"></i>
      <i *ngIf="element.isFavourite" class="fas fa-star" (click)="removeFavourite(element)"></i>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element" [routerLink]="['/contract/', getRoute(element.address)]"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let element" [routerLink]="['/contract/', getRoute(element.address)]"> {{element.address}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="contract-row"></mat-row>
</mat-table>
