.contract-table {
  margin-top: 30px;
}

.contract-list-text {
  margin-top: 15px;
  text-align: center;
}

.contract-row {
  cursor: pointer;
}

.contract-row:hover {
  background-color: ghostwhite;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 5%;
}
