<div class="header">
  <h1>Contract name: {{ name }}</h1>
  <h3>Address: {{ addr }}</h3>
</div>
<div class="body">
  <h3>Led State:</h3>
  <div>
    <mat-slide-toggle [checked]="state" (change)="setState($event)">State</mat-slide-toggle>
  </div>
  <h4>Brightness</h4>
  <div>
    <mat-slider min="1" max="100" step="1" value="{{ brightness }}" thumbLabel></mat-slider> {{ brightness }}
  </div>
</div>
