<button mat-fab color="primary" class="back-btn" [routerLink]="['/home']">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<form class="add-contract-form">
  <h1>Add new contract to contract storage</h1>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput [formControl]="addressFormControl" placeholder="Ex. 0xe448ed6dFa3f675c63DE71A49b6e92d0F8B6faf2">
    <mat-error *ngIf="!addressFormControl.valid">
      Given address is probably wrong
    </mat-error>
  </mat-form-field>
  <span class="error-message">{{ errorMessage }}</span>
  <button mat-raised-button color="primary" [disabled]="!addressFormControl.valid" (click)="addContract(addressFormControl.value)">
    Add!
  </button>
  <div style="margin-top: 20px;">
    <h3>Note:</h3>
    <p>Your contract must implement three functions:</p>
    <p><strong>name()</strong> - it should return contract name, type: string</p>
    <p><strong>getOwner()</strong> - it should return address of contract owner, type: address</p>
    <p><strong>getComponent()</strong> - it should return zip file with angular component to interact with contract, type: bytes32[]</p>
  </div>

</form>

