.add-contract-form {
  padding-top: 30px;
  text-align: center;
}

.full-width {
  width: 50%;
}

.error-message {
  color: red;
  display: block;
  margin-top: -20px;
  height:30px;
}

button {
  display: block;
  margin: 0 auto;
}

.back-btn {
  margin-left: 5px;
  margin-top: 10px;
  position:absolute;
}
