<div class="header">
  <h1>Contract name: {{ name }}</h1>
  <h3>Address: {{ addr }}</h3>
</div>
<div class="body">
  <h2>
    Led State:
    <span *ngIf="state" style="color: green;">On</span>
    <span *ngIf="!state" style="color: red;">Off</span>
  </h2>

  <div>
    <button mat-raised-button (click)="turnOn()">Turn on</button>
    <button mat-raised-button (click)="turnOff()">Turn off</button>
  </div>
</div>
