.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#no-metamask-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  display: table;
  line-height: 50%;
}

.nav-icon {
  padding: 0 5px;
  vertical-align: middle;
}

.nav-spacer {
  flex: 1 1 auto;
}

.address-row {
  background-color: white;
  color:black;
  height:30px;
  font-size: 14px;
  border-bottom: 1px solid black;
  display: block;
  text-align: center;
}

.account-info-text {
  font-size: 0.9em;
  line-height: normal;
  text-align: right;
}
