<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home" style="cursor: pointer">Decentralized IoT Platform</span>
    <span class="nav-spacer"></span>
    <span *ngIf="connectionStatus">
      <mat-icon class="nav-icon" aria-hidden="false" aria-label="connected">
        check_circle_outline
      </mat-icon>
      <small class="connection-status-text">Connected</small>
    </span>
    <span *ngIf="!connectionStatus">
      <mat-icon class="nav-icon" aria-hidden="false" aria-label="connected">
        highlight_off
      </mat-icon>
      <small class="connection-status-text">Disconnected</small>
    </span>

  </mat-toolbar-row>
  <mat-toolbar-row class="address-row" *ngIf="connectionStatus">
    <span *ngIf="!mobile">Your account address: {{ accountInfo?.address }} </span>
    <span>Balance: {{ accountInfo?.balance }} ETH</span>
  </mat-toolbar-row>
</mat-toolbar>


<div id="no-metamask-container" *ngIf="!connectionStatus">
  <h1 class="mat-display-1">
    Twoja przeglądarka nie jest połączona do sieci blockchain.<br>
    Zainstaluj MetaMask lub połącz się do sieci<br>
    <a href="https://metamask.io/download.html">
      <img src="../assets/metamask.png" alt="metamask">
    </a>
  </h1>
</div>

<div *ngIf="connectionStatus" class="container">
  <router-outlet></router-outlet>
</div>
