<button mat-fab color="primary" class="back-btn" [routerLink]="['/home']">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<div class="body">
  <p class="mat-display-2 header">No component registered for this contract</p>
  <p class="mat-h2">Download component from contract</p>
  <p class="mat-h2">Unzip component and place folder in /src/app/contract/contract-components</p>
  <p class="mat-h2">Register your component in contracts.ts</p>
  <button style="justify-content: center" mat-raised-button (click)="download()">Download component for this contract</button>
</div>
