<div style="text-align: center; margin-top: 10px;">
  <h1>Here you can buy fuel</h1>
  <h3>Current price per liter: {{ price }} ETH</h3>
  <h2>Choose your pump</h2>
  <div style="width: 200px; margin-left: auto; margin-right: auto;">
    <mat-radio-group>
      <mat-grid-list style="width: 200px; height: 100px;" rowHeight="100px" cols="2">
        <mat-grid-tile *ngFor="let i of [1, 2, 3, 4, 5, 6]"
                       [colspan]="1">
          <mat-radio-button [value]="i" (change)="setPump(i)">
            Pump {{ i }}
          </mat-radio-button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-radio-group>
  </div>


  <mat-form-field class="example-full-width">
    <mat-label>Amount in ETH</mat-label>
    <input matInput placeholder="" value="" (input)="calculateFuel($event)">
  </mat-form-field>
  <p>Liters you will get: {{ calculatedFuel }}</p>
  <button mat-raised-button (click)="buyFuel()">Buy fuel!</button>
</div>
