<div style="text-align: center; margin-top: 15px;">
  Are you smart contract developer? <a class="add-contract-link"[routerLink]="['/add']">Add your contract to the list!</a>
</div>
<app-contract-list></app-contract-list>
