button {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  padding: 60px 0;
  border: 1px solid black;
  display: block;
  font-size: 24px;
}

.add-contract-link {
  color: purple;
  text-decoration: none;
  cursor: pointer;
}
